@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes float2 {
    0%, 100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-20px);
    }
}
body{
    background-color:black;
    
    box-sizing: border-box;
}
h1{
    color: #F6F6F6;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    color: #F6F6F6;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    color: #F6F6F6;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titulo-destaque{
    color: #22D4FD;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
.principal{
    padding: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.principal__conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9%;
    align-items: start;

}
.principal__conteudo__titulo{
    font-size: 36px;
}
.principal__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
}

.imagem_principal{
    max-width: 100%;
    height: auto;
    animation: float 5s ease-in-out infinite;
    color: #F6F6F6;
    margin-top: 0;
}
.imagem_principal2{
    max-width: 100%;
    height: auto;
    animation: float2 2s ease-in-out infinite;
    color: #F6F6F6;
    margin-top: 0;
}

.principal__links{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.subtitulo{
    font-family: 'krona one', sans-serif;
    font-size: 24px;
}
.principal__links__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color:transparent;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
    height: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    transition: background-color 0.8s ease;
    font-style:oblique;
    border-color: #22D4FD;
    border-style: solid;
    flex: 1;
    width: 185px;
    

}
.principal__links__link:hover{
    background-color: #272727;
    color: rgb(255, 255, 255);
    width: 200px;
    height: auto;
}
.rodape{
    color: black;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
}
.cabecalho_links{
    text-decoration: none;
    color: #22D4FD;
    padding: 20px;
    transition: transform 0.3s ease;
    display: inline-block;
}
.cabecalho_links:hover{
    transform: scale(1.1);
    
}
.cabecalho{
    color: #22D4FD;
    padding-top: 2%;
}
.principal__conteudo__paragrafo1{
    font-size: 15px;
    text-align: justify;
    font-family: "roboto", sans-serif;
    font-weight: bold;
}
.titulo-destaque1{
    color: #22D4FD;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font:bold;
}
.conteudo__texto{
    margin-bottom: 5%;
}

@media (max-width: 600px) {
    .principal {
        margin: 5%;
        flex-direction: row;
    }
    .principal__links{
        align-items: center;
        text-align: center;
    }
    .principal__conteudo, .imagem_principal {
        width: 100%;
        max-width: 600px;
        flex-direction: column;
        align-items: center;
    }
    .imagem_principal2{
        max-width: 100%;
        height: auto;
        animation: float2 2s ease-in-out infinite;
        color: #F6F6F6;
        margin-top: 20px;
        padding-top: 10px;
    }
    .principal__links__link {
        width: 185px;
        margin-top: 10px;
    }

}

@media (max-width: 768px) {
    .principal {
        margin: 3%;
        flex-direction: row;
    }
    .principal__conteudo__titulo, .principal__conteudo__paragrafo {
        padding: 0 10px;
    }
    .principal__links {
        flex-direction: column;
        align-items: center;
    }
    .principal__links__link {
        margin-bottom: 10px;
    }
    .imagem_principal2{
        max-width: 100%;
        height: auto;
        animation: float2 2s ease-in-out infinite;
        color: #F6F6F6;
        margin-top: 20px;
        padding-top: 10px;
    }

}
@media (max-width: 480px) {
    .principal {
        margin: 2%;
    }
    .principal__conteudo__titulo {
        font-size: 28px;
    }
    .principal__conteudo__paragrafo {
        font-size: 18px;
    }
}
